{% extends 'index.html' %}
{% block content %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-8 mt-8 shadow-violet-700">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Placa
                </th>
                <th scope="col" class="px-6 py-3">
                    Modelo
                </th>
                <th scope="col" class="px-6 py-3">
                    Marca
                </th>
                <th scope="col" class="px-6 py-3">
                    Capacidad
                </th>
                <th scope="col" class="px-6 py-3">
                    Acciones
                </th>

            </tr>
        </thead>
        <tbody>
            {% for reg in vehiculos %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                    {{reg.placa}}
                </td>
                <td class="px-6 py-4">
                    {{reg.modelo}}
                </td>
                <td class="px-6 py-4">
                    {{reg.marca}}
                </td>
                <td class="px-6 py-4">
                    {{reg.capacidad}}
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500">Eliminar|Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}