{% extends 'index.html' %}
{% block content %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-8 mt-8 shadow-pink-700">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Placa
                </th>
                <th scope="col" class="px-6 py-3">
                    Modelo
                </th>
                <th scope="col" class="px-6 py-3">
                    Marca
                </th>
                <th scope="col" class="px-6 py-3">
                    Capacidad
                </th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            {% for reg in vehiculos %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                    {{reg.placa}}
                </td>
                <td class="px-6 py-4">
                    {{reg.modelo}}
                </td>
                <td class="px-6 py-4">
                    {{reg.marca}}
                </td>
                <td class="px-6 py-4">
                    {{reg.capacidad}}
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-pink-600 dark:text-pink-500 hover:underline">Eliminar</a> |
                    <a href="#" class="font-medium text-pink-600 dark:text-pink-500 hover:underline">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="/lista_pdf" target="_blank">
    <button
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-full inline-flex items-center">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
        </svg>
        <span>Download</span>
    </button>
</a>


{% endblock %}